

{{#with hero}}
<main class="hero">
    <h1 class="hero_title">{{title}}</h1>
    <p class="hero_description">{{description}}</p>
    <a href="{{button.url}}" class="button button_hero">{{button.text}}</a>
</main>
{{/with}}

<div class="about">
    <strong class="about_heading">{{about.heading}}</strong>
    <p class="about_info">{{about.info}}</p>
</div>

<div class="articles">
    <div class="articles_title">
        <div>
            <h2 class="articles_title_our">Our Articles</h2>
        </div>
        <div>
            <a href="#" class="button button_articles">View All</a>
        </div>
    </div>

    <div class="articles_card">
       {{> articleCardDark}}
    </div>
</div>


